@font-face {
    font-family: head;
    src: url(./Heading-Now-Variable.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100%;
}

/* #main{
    height: 100%;
    width: 100%;
} */

#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#page1 h1{
    font-size: 41vw;
    color: #fff;
    text-transform: uppercase;
    font-family: head;
    white-space: nowrap; 
    font-stretch: 250%;
    font-weight: 999;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
}